body {
  display: flex;
  background-color: #28264a;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

h2, h3 {
  display: inline-block;
  margin: 0;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}