<template>
  <div class="container">
    <h1>404</h1>
    <h2>{{ $t("error.notFound") }}</h2>
  </div>
</template>

<script>
export default {
  name: "NotFound"
};
</script>

<style scoped>
.container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  font-size: 28px;
}
</style>
