<template>
  <div class="container" v-if="question">
    <question-head :id="question.id" :category="question.category"/>

    <div class="question-wrapper">
    <div class="question-text">
      <p class="question">
        {{ question.text }}
      </p>
    </div>

    <answer-options
        v-model="chosenAnswer"
        :status="resultStatus"
        @changedStatus="resultStatus = $event"
        @submit="submitStatus"
        :questionId="question.id"
        :answers="question.answers"
    />

    <question-submit
        :status="resultStatus"
        :answers="question.answers"
        :value="chosenAnswer"
        @changedStatus="resultStatus = $event"
        :route="route"
    />
    </div>
  </div>
</template>

<script>
import QuestionHead from "../components/QuestionHead"
import QuestionSubmit from "../components/QuestionSubmit"
import AnswerOptions from "../components/AnswerOptions"
import {questions} from "../services/question"
import {resolveStatus, STATUS} from "../services/status"

export default {
  name: "QuestionSite",
  components: {
    QuestionHead,
    QuestionSubmit,
    AnswerOptions
  },
  created() {
    this.getQuestion()
  },
  methods: {
    getQuestion() {
      this.question = questions.find(q => q.id == this.$route.params.id)
      if (this.question === undefined) {
        if (isNaN(this.$route.params.id)) {
          this.$router.push({name: "404"})
        } else {
          this.$router.push({name: "start"})
        }
      }
    },
    submitStatus() {
      this.resultStatus = resolveStatus(this.chosenAnswer, this.question.answers);
      this.route = true;
    }
  },
  watch: {
    $route: "getQuestion"
  },
  data() {
    let resultStatus = STATUS.BLANK
    let chosenAnswer = 0
    let question = {}
    let route = false

    return {
      resultStatus,
      route,
      question,
      chosenAnswer
    }
  }
}
</script>

<style>
.container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
}

.question {
  font-size: 14px;
  font-weight: bold;
}

.question-text {
  display: flex;
  justify-content: center;
  width: 90%;
  min-height: 151px;
  margin-top: 15px;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
</style>
