<template>
  <div class="container">
    <p class="font-headline">
      <span class="subword">{{ $t("global.app") }}</span>
      <span class="subword">{{ $t("global.app2") }}</span>
    </p>

    <logo-icon/>
    <play-button/>
  </div>
</template>

<script>
import PlayButton from "../components/PlayButton";
import LogoIcon from "../components/LogoIcon";

export default {
  name: "StartSite",
  components: {
    PlayButton,
    LogoIcon
  }
};
</script>

<style scoped>
.subword {
  display: inline-block;
}

.container {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-headline {
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  margin-bottom: 4vh;
  width: 80%;
}
</style>
