<template>
  <div class="logo">
    <img class="icon" alt="Logo" src="../assets/logo.svg" />
  </div>
</template>

<script>
export default {
  name: "LogoIcon"
};
</script>

<style>
.logo {
  max-width: 100%;
  max-height: 40vh;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.icon {
  max-height: 100%;
  max-width: 100%;
}
</style>
