<template>
  <button class="btn" @click="route">
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <path d="M8 5v14l11-7z" />
      <path d="M0 0h24v24H0z" fill="none" />
    </svg>
  </button>
</template>

<script>
import { randomQuestion } from "../services/question";

export default {
  name: "PlayButton",
  methods: {
    route() {
      this.$router.push({
        name: "question",
        params: { id: randomQuestion().id }
      });
    }
  }
};
</script>

<style scoped>
.btn {
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid #214871;
  background-color: #214871;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.icon {
  width: 70%;
  height: 70%;
  fill: white;
}
</style>
