<template>
  <button :class="['btn', status]" @click="onClick">
    <p class="text">{{ $t("global.next") }}</p>
  </button>
</template>

<script>
import { STATUS, resolveStatus } from "../services/status";
import { randomQuestion } from "../services/question";

export default {
  name: "QuestionSubmit",
  props: {
    value: {
      type: [String, Number],
      required: true
    },
    answers: {
      type: Object,
      required: true
    },
    status: {
      type: String,
      default: STATUS.BLANK
    },
    route: {
      type: Boolean,
      default: false
    }
  },
  data() {
    let reactiveRoute = this.route;

    return {
      reactiveRoute
    };
  },
  watch: {
    route: function (val) {
      this.reactiveRoute = val
    }
  },
  methods: {
    onClick() {
      if (this.reactiveRoute) {
        this.$emit("changedStatus", STATUS.BLANK);
        this.$router.push({
          name: "question",
          params: { id: randomQuestion().id }
        });
      } else {
        const newStatus = resolveStatus(this.value, this.answers);
        this.$emit("changedStatus", newStatus);
      }
      this.reactiveRoute = !this.reactiveRoute;
    }
  }
};
</script>

<style scoped>
.SUCCESSFUL {
  background-color: #09ba5d !important;
  border-color: #09ba5d !important;
}
.FAILURE {
  background-color: #ff0053 !important;
  border-color: #ff0053 !important;
}

.btn {
  border-radius: 40px;
  border: 1px solid #126bf4;
  background-color: #126bf4;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.text {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  width: 80px;
}
</style>
