<template>
  <div class="wrapper">
    <div class="header">
      <h3>ID {{ id }}</h3>
      <h2>{{ category }}</h2>
    </div>
    <hr class="headerLine" />
  </div>
</template>

<script>
export default {
  name: "QuestionHead",
  props: {
    id: {
      type: Number,
      required: true
    },
    category: {
      type: String,
      default: ""
    }
  }
};
</script>

<style scoped>
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.5;
}

.header {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerLine {
  width: 100%;
}
</style>
