<template>
  <div id="app">
    <transition name="slide-fade" appear mode="out-in">
      <router-view :key="'a' + $route.params.id" />
    </transition>
  </div>
</template>

<script>
import { loadQuestions } from "./services/question";

export default {
  name: "App",
  beforeCreate() {
    loadQuestions();
  }
};
</script>

<style>
#app {
  text-align: center;
  width: 100vw;
}
</style>
